<div class="container flex flex-row bg-gray-900 navbar w-full">
    <div class="brand flex items-center p-4">
        <a href="#"><img src="/assets/logo/100k-small.png" alt="logo" width="80"></a>
    </div>
    <div class="menu flex flex-row ml-auto">
        <a class="menu-item text-white p-4 hover:bg-slate-800" href="#">
            Productos
        </a>
        <a class="menu-item text-white p-4 hover:bg-slate-800" href="#">
            Industrias
        </a>
        <a class="menu-item text-white p-4 hover:bg-slate-800" href="#">
            Servicios
        </a>
        <a class="menu-item text-white p-4 hover:bg-slate-800" routerLink="/dashboard">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="ionicon" fill="white" viewBox="0 0 512 512"><title>Person</title><path d="M332.64 64.58C313.18 43.57 286 32 256 32c-30.16 0-57.43 11.5-76.8 32.38-19.58 21.11-29.12 49.8-26.88 80.78C156.76 206.28 203.27 256 256 256s99.16-49.71 103.67-110.82c2.27-30.7-7.33-59.33-27.03-80.6zM432 480H80a31 31 0 01-24.2-11.13c-6.5-7.77-9.12-18.38-7.18-29.11C57.06 392.94 83.4 353.61 124.8 326c36.78-24.51 83.37-38 131.2-38s94.42 13.5 131.2 38c41.4 27.6 67.74 66.93 76.18 113.75 1.94 10.73-.68 21.34-7.18 29.11A31 31 0 01432 480z"/></svg>
            </span>
        </a>
    </div>
</div>
<div class="container bg-gray-900 w-full">
    <div class="container mx-auto flex flex-row">
        <div class="location-title p-4">
            <a href="" class="text-gray-500 hover:text-gray-300 text-sm flex flex-row items-center">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" width="12" viewBox="0 0 512 512"><title>Chevron Back</title><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M328 112L184 256l144 144"/></svg>
                </span>
                Go back
            </a>
            <h4 class="text-2xl text-white">Dashboard</h4>
        </div>
    
        <div class="submenu ml-auto flex flex-row">
            
            <a class="menu-item text-white p-4 px-8 hover:bg-slate-800 flex items-center active" href="#">
                Summary
            </a>
                
            <a class="menu-item text-white p-4 px-8 hover:bg-slate-800 flex items-center" href="#">
                Inventory
            </a>
            <a class="menu-item text-white p-4 px-8 hover:bg-slate-800 flex items-center" href="#">
                Stats
            </a>
        </div>
    </div>
</div>